<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body class="about">
    <h1>
        <%= title %>
    </h1>
    <p>bienvenue sur
        <%= title %>
    </p>
    <section>
        <div class="ab">

            <h1>QUI NOUS SOMMES REELLEMENT?</h1>

        </div>
        <div class="ab1">
            <div>
                <img src="/images/ensemble.jpg" alt="img">
            </div>
            <div class="ab2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut veritatis cupiditate tempore sit quo. <br> Molestiae nulla necessitatibus, iste non enim hic, consequuntur culpa facere,<br> eum libero ipsa illum suscipit mollitia.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut veritatis cupiditate tempore sit quo. <br> Molestiae nulla necessitatibus, iste non enim hic, consequuntur culpa facere,<br> eum libero ipsa illum suscipit mollitia.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut veritatis cupiditate tempore sit quo. <br> Molestiae nulla necessitatibus, iste non enim hic, consequuntur culpa facere,<br> eum libero ipsa illum suscipit mollitia.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut veritatis cupiditate tempore sit quo. <br> Molestiae nulla necessitatibus, iste non enim hic, consequuntur culpa facere,<br> eum libero ipsa illum suscipit mollitia.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut veritatis cupiditate tempore sit quo. <br> Molestiae nulla necessitatibus, iste non enim hic, consequuntur culpa facere,<br> eum libero ipsa illum suscipit mollitia.</p>

            </div>
        </div>
        <p class="ab3">
            MongoDB est disponible en deux éditions serveur : Community et Enterprise. MongoDB Enterprise fournit diverses fonctionnalités qui ne sont pas disponibles dans l’édition MongoDB Community, telles que le moteur de stockage en mémoire, l’audit, l’authentification
            Kerberos... À des fins d’apprentissage, MongoDB Community Edition répond beaucoup plus à nos exigences que son homologue différent. C’est pourquoi, dans cette section, nous couvrirons l’installation sur les systèmes d’exploitation Windows
            et Linux (Ubuntu). Si vous avez un système d’exploitation différent, vous pouvez vous référer à la documentation officielle où vous pouvez trouver des tutoriels pour toutes les distributions prises en charge. La méthode db.stats() renvoie
            un document contenant des statistiques reflétant l’état du système de base de données. L’échelle est utilisée sur différentes tailles de données. La valeur par défaut de l’échelle est 1 afin de renvoyer les tailles de données en octets. Pour
            afficher les tailles en kilo-octets au lieu d’octets, spécifiez une valeur d’échelle de 1024. Voici d’autres méthodes de base de données : • db.getName() : renvoie le nom actuel de la base de données. • db.version() : renvoie la version mongod
            ou l’instance mongos. • db.stats(scale) : la méthode db.stats() retourne un document avec des statistiques reflétant l’état du système de base de données. o La valeur par défaut de l’échelle est 1 afin de renvoyer les tailles de données en
            octets. Pour afficher les tailles en kilo-octets au lieu d’octets, spécifiez une valeur d’échelle de 1024. • db.serverStatus() : Renvoie un document qui fournit une vue d’ensemble de l’état du processus de base de données. • db.createCollection()
            : Étant donné que MongoDB crée une collection implicitement lorsque la collection est référencée pour la première fois dans une commande, cette méthode est principalement utilisée pour créer de nouvelles collections qui utilisent des options
            spécifiques. Par exemple, vous utilisez db.createCollection() pour créer une collection plafonnée ou pour créer une collection qui utilise la validation de document. • db.collection.count() : Renvoie le nombre de documents qui correspondrait
            à une requête find() pour la collection ou la vue. La méthode db.collection.count() n’effectue pas l’opération find() mais compte et renvoie le nombre de résultats correspondant à une requête. • db.collection.stats(): Indique l’état d’une
            collection. • db.collection.storageSize() : Indique la taille totale de stockage utilisée par la collection en octets. • db.collection.validate( : Valide une collection. La méthode analyse les données de collection et les index pour en vérifier
            l’exactitude et renvoie le résultat. o plein: Optionnel. Indicateur qui détermine si la commande effectue une vérification plus lente mais plus approfondie ou une vérification plus rapide mais moins approfondie. Pour rappel, voici quelques
            terminologies utilisées avec la base de données NoSQL : • Collections : les collections dans Mongo sont l’équivalent des tables dans les bases de données relationnelles. Ils peuvent contenir plusieurs documents JSON. • Documents : les documents
            sont l’équivalent d’enregistrements ou de lignes de données dans SQL. Alors qu’une ligne SQL peut référencer des données dans d’autres tables, les documents Mongo les combinent généralement dans un seul document. • Fields: champs ou attributs
            similaires aux colonnes d’une table SQL. • Schéma : alors que Mongo est sans schéma, SQL définit un schéma via la définition de table. Un « schéma » Mongoose est une structure de données de document (ou une forme du document) qui est appliquée
            via la couche application. Commencer 1. Installation Mongo: Tout d’abord, nous avons besoin que MongoDB soit installé sur notre machine (vérifiez la super compétence MongoDB si nécessaire) Jetons un coup d’œil à certaines des bases de Mongoose
            en implémentant un modèle qui présente les données d’un carnet d’adresses simplifié. Lancez votre IDE préféré (ahem.. VSCode), créez un projet vierge, et c’est parti ! Nous utiliserons la syntaxe ES6 limitée dans Node (nous ne configurerons
            donc pas Babel).

        </p>
        <h2 class="ab4"> NOS PRESTASTIONS A L'ECHELLE SUPERIEUR
            <BR> POUR VOTRE SATISFACTION SUR TOUTES NOTRE EXPERTISE
        </h2>
        <p class="ab5">
            MongoDB est disponible en deux éditions serveur : Community et Enterprise. MongoDB Enterprise fournit diverses fonctionnalités qui ne sont pas disponibles dans l’édition MongoDB Community, telles que le moteur de stockage en mémoire, l’audit, l’authentification
            Kerberos... À des fins d’apprentissage, MongoDB Community Edition répond beaucoup plus à nos exigences que son homologue différent. C’est pourquoi, dans cette section, nous couvrirons l’installation sur les systèmes d’exploitation Windows
            et Linux (Ubuntu). Si vous avez un système d’exploitation différent, vous pouvez vous référer à la documentation officielle où vous pouvez trouver des tutoriels pour toutes les distributions prises en charge. La méthode db.stats() renvoie
            un document contenant des statistiques reflétant l’état du système de base de données. L’échelle est utilisée sur différentes tailles de données. La valeur par défaut de l’échelle est 1 afin de renvoyer les tailles de données en octets. Pour
            afficher les tailles en kilo-octets au lieu d’octets, spécifiez une valeur d’échelle de 1024. Voici d’autres méthodes de base de données : • db.getName() : renvoie le nom actuel de la base de données. • db.version() : renvoie la version mongod
            ou l’instance mongos. • db.stats(scale) : la méthode db.stats() retourne un document avec des statistiques reflétant l’état du système de base de données. o La valeur par défaut de l’échelle est 1 afin de renvoyer les tailles de données en
            octets. Pour afficher les tailles en kilo-octets au lieu d’octets, spécifiez une valeur d’échelle de 1024. • db.serverStatus() : Renvoie un document qui fournit une vue d’ensemble de l’état du processus de base de données. • db.createCollection()
            : Étant donné que MongoDB crée une collection implicitement lorsque la collection est référencée pour la première fois dans une commande, cette méthode est principalement utilisée pour créer de nouvelles collections qui utilisent des options
            spécifiques. Par exemple, vous utilisez db.createCollection() pour créer une collection plafonnée ou pour créer une collection qui utilise la validation de document. • db.collection.count() : Renvoie le nombre de documents qui correspondrait
            à une requête find() pour la collection ou la vue. La méthode db.collection.count() n’effectue pas l’opération find() mais compte et renvoie le nombre de résultats correspondant à une requête. • db.collection.stats(): Indique l’état d’une
            collection. • db.collection.storageSize() : Indique la taille totale de stockage utilisée par la collection en octets. • db.collection.validate( : Valide une collection. La méthode analyse les données de collection et les index pour en vérifier
            l’exactitude et renvoie le résultat. o plein: Optionnel. Indicateur qui détermine si la commande effectue une vérification plus lente mais plus approfondie ou une vérification plus rapide mais moins approfondie. Pour rappel, voici quelques
            terminologies utilisées avec la base de données NoSQL : • Collections : les collections dans Mongo sont l’équivalent des tables dans les bases de données relationnelles. Ils peuvent contenir plusieurs documents JSON. • Documents : les documents
            sont l’équivalent d’enregistrements ou de lignes de données dans SQL. Alors qu’une ligne SQL peut référencer des données dans d’autres tables, les documents Mongo les combinent généralement dans un seul document. • Fields: champs ou attributs
            similaires aux colonnes d’une table SQL. • Schéma : alors que Mongo est sans schéma, SQL définit un schéma via la définition de table. Un « schéma » Mongoose est une structure de données de document (ou une forme du document) qui est appliquée
            via la couche application. Commencer 1. Installation Mongo: Tout d’abord, nous avons besoin que MongoDB soit installé sur notre machine (vérifiez la super compétence MongoDB si nécessaire) Jetons un coup d’œil à certaines des bases de Mongoose
            en implémentant un modèle qui présente les données d’un carnet d’adresses simplifié. Lancez votre IDE préféré (ahem.. VSCode), créez un projet vierge, et c’est parti ! Nous utiliserons la syntaxe ES6 limitée dans Node (nous ne configurerons
            donc pas Babel).

        </p>
        <h2 class="ab4"> LE MONDE S'OUVRE A VOUS PAR L'INTERMEDIAIRE
            <BR> DE NOTRE SOCIETE ANONYME AVEC UN CAPITAL DE 2.000.000 FCFA
        </h2>


    </section>

</body>

</html>