<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <p style="background-image: url('imgservices2.jpg');"></p>
    <h1>
        <%= title %>
    </h1>
    <p>bienvenue sur
        <%= title %>
    </p>
</body>

</html>