<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>bienvenue sur
        <%= title %>
    </p>
    <div class="chucky">
        <img src="images/lbt.jpg" alt="img1">
        <img src="images/mnt.jpg" alt="img10">
        <img src="images/nyk.jpg" alt="img2">


    </div>
</body>

</html>