<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body class="services">
    <h1>
        <%= title %>
    </h1>
    <p>bienvenue sur
        <%= title %>
    </p>
    <div>
        <h1>nous avons plusieurs services a vous présentez </h1>
    </div>
    <div class="bob">
        <div>
            <h3>Nous voulons que les patients trouvent le medecin ideal et prennent rendez-vous de la manière la plus simple. <br> le parcours du patient doit etre agréable, et ces pourquoi nous sommes toujours a ses cotés : <br> pour l'aider a trouver les
                meilleurs soins possibles.N'importe quand n'importe ou .</h3>

        </div>
        <div>
            <h3>Nous aidons également les medecins a mieux gérer leur cabinet et a batir leur e-reputation. <br> Grace a notre solution intégrée de bout en bout, les medecins peuvent non seulment améliorer leur présence <br> en ligne, mais aussi consacrer
                leur temps a ce qui compte vraiment: leurs patients .</h3>

        </div>
    </div>

    <div class="bab">
        <div>
            <h3>pour les patients trouvez un medecin, reservez une visite et resolvez tout doute lié a la santé</h3>
        </div>



        <div>
            </h3>pour les medecins gagnez du temps dans la gestion des visites et reduisez de moitié les absences</h3>
        </div>
        <div>
            </h3>pour les cliniques offrez une experience patient exceptionnelle dans votre clinique</h3>
        </div>
    </div>
    <div class="chucko">
        <img src="images/imgelec.jpg" alt="img4">
        <img src="images/imgelectro.jpg" alt="img5">
        <img src="images/imgmeca.jpg" alt="img6">
        <img src="images/imginfo1.jpg" alt="img7">

    </div>
    <footer>
        <div class="pip">
            <dl>
                <dt>Le numéro 1 en energie</dt>
                <dd>l'energie renouvellable</dd>
            </dl>
            <dl>
                <dt>la haute technologie</dt>
                <dd>Le numero 1 dans l'électronique</dd>
            </dl>
            <dl>
                <dt>The lion king </dt>
                <dd>La puissance des griffes</dd>
            </dl>
            <dl>
                <dt>The lion king </dt>
                <dd>La puissance des griffes</dd>
            </dl>
        </div>
        <div class="pap">
            <dl>
                <dt>la haute technologie</dt>
                <dd>Le numero 1 dans l'électronique</dd>
            </dl>
            <dl>
                <dt>Le numéro 1 en energie</dt>
                <dd>l'energie renouvellable</dd>
            </dl>
            <dl>
                <dt>The lion king </dt>
                <dd>La puissance des griffes</dd>
            </dl>
            <dl>
                <dt>The lion king </dt>
                <dd>La puissance des griffes</dd>
            </dl>
        </div>
        <div class="pop">
            <dl>
                <dt>la mecanique industrielle </dt>
                <dd>l'une des meilleures au monde</dd>
            </dl>
            <dl>
                <dt>The lion king </dt>
                <dd>La puissance des griffes</dd>
            </dl>
            <dl>
                <dt>The lion king </dt>
                <dd>La puissance des griffes</dd>
            </dl>
            <dl>
                <dt>The lion king </dt>
                <dd>La puissance des griffes</dd>
            </dl>
        </div>
        <div class="pup">
            <dl>
                <dt>l'informatique </dt>
                <dd>Lesv systeme reseaux</dd>
            </dl>
            <dl>
                <dt>l'informatique </dt>
                <dd>Le developpement d'applications</dd>
            </dl>
            <dl>
                <dt>la hi-tech </dt>
                <dd>l'infographie rechercher</dd>
            </dl>
            <dl>
                <dt>The lion king </dt>
                <dd>La puissance des griffes</dd>
            </dl>
        </div>
    </footer>
</body>

</html>