body {
    background-color: darkblue
}

.chucky {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.chucky img {
    width: 20%;
}

.services {
    background-image: url('imgs4.jpg');
}

h1 {
    text-align: center;
    color: aqua;
}

.chucko {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.chucko img {
    width: 20%;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.pip {
    color: aqua;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: large;
}

.pup {
    color: aqua;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: large;
}

.pop {
    color: aqua;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: large;
}

.pap {
    color: aqua;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: large;
}

.bob {
    text-align: center;
    color: aqua;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: large;
}

.bab {
    text-align: center;
    color: aqua;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: large;
}

.services {
    background-image: url("/images/imgs4.jpg");
}

.about {
    background-image: url("/images/imgapropos.jpg");
}

.ab h1 {
    font-size: xx-large;
    color: black;
    background-color: rgb(209, 92, 92);
}

.ab1 {
    display: flex;
    justify-content: space-between;
}

.ab2 {
    color: rgba(21, 17, 2, 0.805);
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: italic;
}

.ab3 {
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: black;
    background-size: cover;
}

.ab4 {
    text-align: center;
    background-color: brown;
}

.ab5 {
    text-align: center;
}